layer-rule {
  match namespace="^vicinae$"
  match namespace="^rofi$"
  match namespace="^waybar$"
  background-effect {
    blur true
  }
}
layer-rule {
  match namespace="^vicinae$"
  match namespace="^rofi$"
  background-effect {
    xray false
  }
}

window-rule {
  match app-id=r#"^org\.wezfurlong\.wezterm$"#
  background-effect {
    blur true
  }
}

window-rule {
  // libadwaita
  match app-id=r"^org\.gnome\.Nautilus$"
  match app-id=r"^org\.gnome\.FileRoller$"

  geometry-corner-radius 15
  background-effect {
    blur true
    xray false
  }

  popups {
    geometry-corner-radius 15
    background-effect {
      blur true
      xray false
    }
  }
}

// looked weird w/ the open animation
//window-rule {
//  match app-id=r#"^vicinae$"#
//  background-effect {
//    xray false
//  }
//}

blur {
  passes 2
  offset 2.5
  noise 0.14
}
