window {
  /*background: @base;*/
  background: alpha(@base, 0.3);
  color: @text;
  font-family: 'Atkinson Hyperlegible Pro', 'Atkinson Hyperlegible', FontAwesome, Noto Sans CJK;
  font-size: 14px;
  font-style: normal;
}

/* search entry */
entry {
  background-color: alpha(@surface0, 0.5);
  color: @text;
}

button, box, widget, image {
  background: none;
  border: none;
  color: @text;
  text-shadow: 0 1px alpha(@base, 0.75);
  box-shadow: none;
  outline: none;
}

button {
  padding: 1em 0.5em;
  border-radius: 1em;
}

button:hover, button:active, box:hover, box:active {
  background: alpha(@surface0, 0.5);
}