* {
  border: none;
  border-radius: 0;
  min-height: 0;
  padding: 0;
}

button, button:hover {
  box-shadow: none; /* undo default styles */
}

window#waybar {
  color: @text;
  /*background: alpha(@base, 0.6);*/
  background: alpha(@base, 0.9999999); /* cool niri issue workaround */
  border-radius: 1em;
  /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
  /*font-family: 'Atkinson Hyperlegible', FontAwesome, Noto Sans CJK;*/
  font-family: CozetteVector, monospace, FontAwesome, Noto Sans CJK;
  font-size: 12px;
  font-style: normal;

  border: 1px solid @surface0;
}

.modules-right box {
  background-color: @surface0;
  margin: 0 0.25em;
  padding: 0.15em 0.25em;
  border-radius: 1em;
}

.modules-right label.module {
  margin: 0 0.5em;
}

.modules-left #image {
  margin: 0 0.5em;
}

.modules-right box {
  padding: 0.15em 0.4em;
}
.modules-left, .modules-right {
  margin: 0.4em 0.5em;
}

/* WORKSPACES STYLE 1 */
/* buttons with icons inside of them */

/*
#workspaces {
  background-color: @surface0;
  padding: 0;
  margin: 0 0.25em;
  border-radius: 1em;
}

#workspaces button {
  background-color: transparent;
  color: @text;
  min-width: 0;
  padding: 0 0.4em;
  transition: none;
}

#workspaces button:nth-child(1) {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
#workspaces button:nth-last-child(1) {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

#workspaces button.empty {
  color: @overlay0;
}

#workspaces button.visible {
  background: @surface1;
}

#workspaces button.focused {
  box-shadow: none;
}

#workspaces button.active {
  background: @accent;
  color: @surface0;
}
#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1);
  color: @text;
  box-shadow: none;
}
#workspaces button.active:hover {
  background: @accent;
  color: @surface0;
}

#workspaces button.urgent {
  background: @red;
  color: @surface0;
}
*/

/* WORKSPACES STYLE 2 */
/* just the text, colored */

#workspaces {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

#workspaces button {
  background-color: transparent;
  color: @text;
  padding: 0 0;
  margin: 0 0.3em;
  min-width: 0;
  transition: none;
}

#workspaces button.empty {
  color: @overlay0;
}

#workspaces button.visible {
  color: @text;
}

#workspaces button.focused {
  box-shadow: none;
}

#workspaces button.active {
  background: transparent;
  color: @accent;
}
#workspaces button:hover {
  background: transparent;
  color: @overlay0;
  box-shadow: none;
}
#workspaces button.active:hover {
  background: transparent;
  color: @accent;
}

#workspaces button.urgent {
  color: @red;
}


#window {
  background: transparent;
  margin: 0 0.5em;
}
window#waybar.floating #window {
  color: @pink;
}

#clock {
  color: @lavender;
}

#power-profiles-daemon {
  color: @teal;
}


@keyframes blink {
  to {
    color: @text;
  }
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @lavender;
}
#memory.critical {
  color: @maroon;
  animation-name: blink;
  animation-duration: 2s;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning.discharging {
  color: @peach;
  animation-name: blink;
  animation-duration: 3s;
}

#battery.critical.discharging {
  color: @maroon;
  animation-name: blink;
  animation-duration: 2s;
}

#network, #cpu {
  color: @sapphire;
}

#backlight, #custom-weather {
  color: @yellow;
}

#pulseaudio {
  color: @pink;
}
#pulseaudio.muted {
  color: @overlay1;
}

#custom-power {
  color: @red;
}

#custom-wallpaper {
  color: @overlay1;
}

#privacy {
  margin: 0 0.25em;
  padding: 0;
}
#privacy-item {
  padding: 0 1px;
  color: @text;
}

window decoration {
  box-shadow: none;
}

tooltip, window.popup menu {
  background: @base;
  border: 1px solid @surface2;
  font-size: 12px;
  color: @text;
}
tooltip *, window.popup {
  font-family: CozetteVector, monospace;
}
tooltip * {
  padding: 0px;
  margin: 0px;
  color: @text;
}

window.popup separator {
  background-color: @surface0;
}

window.popup menuitem:disabled {
  color: @overlay1;
}

window.popup menuitem:hover {
  background-color: @accent;
  color: @surface0;
}

window.popup menuitem:hover > box {
  background-color: transparent;
}
